*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul {
    list-style: none;    
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    padding: 3rem;
}

::selection {
    background-color: $color-primary;
    color: #fff;
}

.main {
    height: 150vh; // remove
    background-color: $color-primary;
    padding: 5rem 0;
}