body {
    font-family: 'Cabin', sans-serif;
    color: #fff;
}

.heading-primary {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
}

.heading-secondary {
    letter-spacing: .7rem;
}