@keyframes grow-fade-in {
    0% {
        opacity: 0;
        transform: scale(.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pulse-small {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes wobble {
    0% {
        transform: scale(1) rotate(0);
    }

    30% {
        transform: scale(1.03) rotate(1deg);
    }

    40% {
        transform: scale(1.03) rotate(-1deg);
    }

    50% {
        transform: scale(1.03) rotate(1deg);
    }

    60% {
        transform: scale(1.03) rotate(-1deg);
    }

    70% {
        transform: scale(1) rotate(0);
    }

    100% {
        transform: scale(1) rotate(0);
    }
}